$text: ("title": 
      ("font-family":unquote("system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, \"Noto Sans\", sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\" "),
        "font-sizes": (
            "XXS": 8px,
            "XS": 12px,
            "S": 16px,
            "M": 20px,
            "L": 24px,
            "XL": 32px,
            "XXL": 48px,
            "XXXL": 64px,
        )),
        "pretitle": (
        "font-family":unquote("system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, \"Noto Sans\", sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\" "),
        "font-sizes": (
            "XXS": 8px,
            "XS": 12px,
            "S": 16px,
            "M": 20px,
            "L": 24px,
            "XL": 32px,
            "XXL": 48px,
            "XXXL": 64px,
        )),
        "subtitle": (
            "font-family":unquote("system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, \"Noto Sans\", sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\" "),
            "font-sizes": (
                "XXS": 8px,
                "XS": 12px,
                "S": 16px,
                "M": 20px,
                "L": 24px,
                "XL": 32px,
                "XXL": 48px,
                "XXXL": 64px,
            )),
            "text": (
                "font-family":unquote("system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, \"Noto Sans\", sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\" "),
                "font-sizes": (
                    "XXS": 8px,
                    "XS": 12px,
                    "S": 16px,
                    "M": 20px,
                    "L": 24px,
                    "XL": 32px,
                    "XXL": 48px,
                    "XXXL": 64px,
                )),


);

$palette:("principal":(#320A01, #691A02, #A62E03, #DE4802, #FD6B1C, #FD9753, #FDC090, #FEE2C8, #FFFFFF),
    "alternative":(#011419, #013041, #014B6B, #006094, #0073BD, #0082E6, #108FFE, #3B98FC, #65A8FB),
    "black":(rgb(0, 0, 0, 0.605)),
    "red": (#190501, #400E07, #621A13, #832421, #A52C2C, #CC3B33, #DC5C50, #EE7E6D, #FC9F8D),
    "grey": (#0D0D0D, #292929, #474747, #636363, #5E5E5E, #808080, #9C9C9C, #BABABA, #D6D6D6,#F2F2F2),
    "green": (#021901, #0A470A, #1C731F, #2F9838, #40BF4F, #67D078, #90E4A1, #B8F5C7, #E6FEED),
    "white":(#B9CAFD, #CCD4F5, #D9DDF2, #E0E2F1, #E7E8F3, #EEEEF7, #F4F4FB, #E0E0E0, #F7F6FD));