<div class="c-section l-flex">
  <div class="c-column--2 g--padding-2vh">
    <div class="g--title-XL">¿Quién soy?</div>
    <div class="c-text">
      Hola a tod@s, soy Ignacio Ruiz Pérez un joven desarrollador web que ha
      comenzado una nueva etapa en su vida y estoy presentando mi porfolio
      creado en Angular v.12.
    </div>
  </div>
  <div class="c-column--2 g--padding-2vh">
    <img
      src="../../../../assets/img/img2.jpeg"
      class="g--width-100"
    />
  </div>
</div>
<div class="c-section l-flex">
  <div class="c-column--2">
    <img
      src="../../../../assets/img/img3.jpeg"
      class="g--width-100"
    />
  </div>
  <div class="c-column--2 g--padding-2vh">
    <div class="g--title-XL">Aprendizaje</div>
    <div class="c-text">
      Al terminar bachiller escogí el ciclo de Desarrollo de Aplicaciones Web en
      <a href="https://www.fpmislata.com/wordpress/">CIPFP Mislata</a> donde
      aprendí la mayoría de lenguajes que están en la pestaña de
      <a href="./lenguajes">"Lenguajes"</a>, tales como Java, Angular o PHP.
      Tras ello, hice un par de cursos en <a href="">UDEMY</a> y otro curso de
      comunicación digital en <a href="">Cámara Valencia</a>.
    </div>
  </div>
</div>
<div class="c-section">
  <div class="g--title-XL">Proyectos</div>
  <div class="c-text">
    Durante todo este tiempo he trabajo en diversidad de proyectos:
  </div>
  <div class="c-part">
      <app-proyecto-card></app-proyecto-card>
  </div>
</div>
<div class="c-section l-flex">
  <div class="c-column--2 g--padding-2vh">
    <div class="g--title-XL">Futuro</div>
    <div class="c-text">
      Estoy buscando nuevas oportunidades laborales que me permitan seguir creciendo como desarrollador web y contribuir al éxito de las empresas🙌.
      Es el momento del cambio.
    </div>
    <div class="c-button" onclick="location.href='./contacto'">
      Contactame
    </div>
  </div>
  <div class="c-column--2 g--padding-2vh">
    <img
      src="../../../../assets/img/img5.jpeg"
      class="g--width-100"
    />
  </div>
</div>
