<div class="l-flex l-flex--wrap l-flex__justify-content--space-around">
  <div class="l-flex l-flex__direction--column g--padding-2vh g--margin-t-5vh c-column--4 g--sombreado g--redondeado" *ngFor="let proyecto of proyectos">
    <div class="g--width-150">
      <img
        class="c-img"
        src="../../../../assets/img/{{ proyecto.Nombre }}.png"
      />
    </div>
    <div class="g--padding-t-4vh g--title-L g--margin-top-5 g--color-principal-4 g--text-L">{{ proyecto.Nombre }}</div>
    <div class="c-text g--color-principal-1">{{ proyecto.Texto }}</div>
  </div>
</div>
