<div class="c-section l-flex">
    <div class="c-column--2 g--padding-2vh">
      <div class="g--title-XL">MUCHAS GRACIAS</div>
      <div class="c-text">
    Si has llegado aquí te agradezco el timpo que has dedicado y por el interes que has mostrado hacía mi proyecto.
    Una vez dicho esto aquí tienes los diferentes medios con los que podrás contactarme.
      </div>
      <div class="c-listado">

      </div>
    </div>
    <div class="c-column--2 g--padding-2vh">
      <img
        src="../../../../assets/img/img2.jpeg"
        class="g--width-100"
      />
    </div>
  </div>
