.l-flex {
  display: flex;
  &__justify-content {
    &--center {
      justify-content: center;
    }
    &--end {
      justify-content: end;
    }
    &--initial {
      justify-content: initial;
    }
    &--space-around {
      justify-content: space-around;
    }
    &--space-between {
      justify-content: space-between;
    }
  }
  &__direction {
    &--column {
      flex-direction: column;
    }
    &--row {
      flex-direction: row;
    }
  }

  &__aling-items {
    &--center {
      align-items: center;
    }
  }

  &--wrap {
    flex-wrap: wrap;
  }
}
