<div class="l-flex l-flex__justify-content--space-between c-header-bar g--padding-2vh">
  <div class="c-column">Ignacio Ruiz Pérez</div>
  <div class="c-column l-flex">
    <div class="c-opcion__cabecera">
      <a routerLink="">Home</a>
    </div>
    <div class="c-opcion__cabecera">
      <a routerLink="/lenguajes">Lenguajes</a>
    </div>
    <div class="c-opcion__cabecera">
      <a routerLink="/proyectos">Proyectos</a>
    </div>
    <div class="c-opcion__cabecera">
      <a routerLink="/contacto">Contacto</a>
    </div>
  </div>
</div>
