<nav class="c-header-bar">
  <ul class="nav-bar l-flex l-flex__justify-content--space-between l-flex__aling-items--center">
  <li class="c-text g--color-principal-1">Ignacio Ruiz Pérez</li>
  <input type="checkbox" id="check" />
   <span class="menu l-flex l-flex__aling-items--center">
      <li><a routerLink="" class="c-button--tertiary-alt">Home</a></li>
      <li>
        <a routerLink="/lenguajes" class="c-button--tertiary-alt">Lenguajes</a>
      </li>
      <li>
        <a routerLink="/proyectos" class="c-button--tertiary-alt">Proyectos</a>
      </li>
      <li>
        <a
          routerLink="/contacto"
          class="c-button--tertiary-alt"
          >Contacto</a
        >
      </li>
      <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
    </span>
    <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
</ul>
</nav>
 
